# --------------------- COMMON EXCLUSIONS -------------------------------------
# Sublime settings
sublime.sublime-project
sublime.sublime-workspace

# Pycharm files
.idea

# Python temporal files
*.pyc
**/__pycache__

# Jupyter temporal files
**/.ipynb_checkpoints

# Coverage info
**/.coverage
**/cover
**/coverage.xml

# Unit test report
**/nosetests.xml

# Pylint ouput
**/pylint.xml

# Package files
build/
dist/
*.egg-info

# Executables
*.exe

# Passwords
*.password

# Ruff
.ruff_cache

# Venv
.venv

# --------------------- PERSONAL EXCLUSIONS -----------------------------------
# Data folders
**/data


# --------------------- PROJECT EXCLUSIONS ------------------------------------
# Notebooks
**.ipynb

# Auth jsons
auth/*
!auth/info.txt

# Certificates
src/certificates/

# Data files
scripts/subs/*.parquet

# DBT logs
src/logs/**
src/vdbt/logs/**
