dropbox==9.4.0
jinja2==2.10.3
loguru==0.4.1
luigi==2.8.11
numpy==1.18.1
openpyxl==3.0.3
oyaml==0.9
pandas==1.0.0
slackclient==2.5.0
virtualenv==16.7.9
v_crypt==1.0.4
v_time==1.2.0
v_palette>=1.1.0
xlrd==1.2.0
