{% extends "base.html" %}

{% block extra_scripts %}
  <script src="https://code.highcharts.com/modules/sankey.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% set cards = ["Incomes", "Expenses", "EBIT", "Liquid", "Worth", "Total_Worth"] %}
{% block body %}
<!-- DASH -->
<div id="dashboard" class="section w3-center">
  <h1>{{ mdate }} Report</h1>
  <div class="mgrid">
    {% for name in cards %}<div class="w3-card w3-round" style="background-color: {{ colors[name] }}; color:white;">
      <h3 style="margin-bottom: -16px;">{{ name }}</h3>
      <h2>{{ dash["month"][name] }} €</h2>
    </div>
    {% endfor %}
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_basic_traces" class="plot" style="height: 350px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_liquid" class="plot" style="height: 180px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_investments" class="plot" style="height: 250px"></div>
  </div>

</div>

<!-- EVO -->
<div id="evolution" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_evolution_month" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_evolution_month_trend" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_evolution_year" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_expenses_by_categ_month" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_incomes_by_categ_month" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_expenses_by_categ_year" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_incomes_by_categ_year" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="EVO_salaries" class="plot" style="height: 450px"></div>
  </div>
</div>

<!-- COMP -->
<div id="comparison" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="COMP_incomes" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="COMP_expenses" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="COMP_EBIT" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="COMP_liquid" class="plot" style="height: 400px"></div>
  </div>
</div>

<!-- PIE -->
<div id="pies" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <h3>Expenses</h3>
    <div id="PIE_expenses_month" class="plot" style="height: 180px"></div>
    <div id="PIE_expenses_year" class="plot" style="height: 100px"></div>
    <div id="PIE_expenses_all" class="plot" style="height: 100px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <h3>Incomes</h3>
    <div id="PIE_incomes_month" class="plot" style="height: 180px"></div>
    <div id="PIE_incomes_year" class="plot" style="height: 100px"></div>
    <div id="PIE_incomes_all" class="plot" style="height: 100px"></div>
  </div>
</div>

<!-- LIQ -->
<div id="liquid" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="LIQ_evolution" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="LIQ_vs_expenses" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="LIQ_survival_ratio" class="plot" style="height: 400px"></div>
  </div>
</div>

<!-- INV -->
<div id="investments" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="INV_worth_vs_invest" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="INV_worth_by_type" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="INV_worth_by_type_percent" class="plot" style="height: 450px"></div>
  </div>
</div>

<!-- FIRE -->
<div id="fire" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_savings_ratio_month" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_savings_ratio_year" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_passive_income_vs_expenses" class="plot" style="height: 450px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_total_years_survival" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_investment_ratios" class="plot" style="height: 400px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="FIRE_bubbles" class="plot" style="height: 400px"></div>
  </div>
</div>

<!-- SANKEY -->
<div id="sankey" class="section" style="display:none;">
  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="SAN_month" class="plot" style="height: 480px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="SAN_year" class="plot" style="height: 480px"></div>
  </div>
</div>
{% endblock %}


{% block plots %}
<script>

  // PLOT SHARED CONFIGURATIONS
  const plot_basic = {
    credits: false,
    yAxis: {
      title: {text: null}
    },
    plotOptions: {
      series: {
        marker: {enabled: false},
        stickyTracking: false
      }
    }
  }
  const plot_datetime = {
    ...plot_basic,
    xAxis: {type: 'datetime'},
    chart: {zoomType: "x"},
  }
  const plot_stacked = {
    ...plot_basic,
    plotOptions: {
      series: {
        marker: {enabled: false},
        stickyTracking: false,
        stacking: 'normal',
      }
    }
  }
  const plot_datetime_stacked = {
    ...plot_datetime, ...plot_stacked
  }
  const plot_stacked_no_title = {
    ...plot_stacked,
    title: {text: ""},
    chart: {zoomType: "x", type: "bar"},
  }
  const tooltip_percent = {
    tooltip: {
      valueSuffix: " %",
    },
  }
  const labels_percent = {
    title: {text: null},
    labels: {
      formatter: function() {return this.value + " %";}
    },
  }

  // DASHBOARD SECTION
  Highcharts.chart('DASH_basic_traces', {
    ...plot_stacked_no_title,
    xAxis: {categories: ["Incomes", "Expenses", "EBIT"]},
    series: [
      {
        name: "Incomes",
        color: "{{ colors['Incomes'] }}",
        data: [{{ dash["month"]["Incomes"] }}, 0, 0],
        stack: "last",
      },
      {
        name: "Incomes trend",
        color: "{{ colors['Incomes_dim'] }}",
        data: [{{ dash["month"]["Incomes_trend"] }}, 0, 0],
        stack: "last_trend",
      },
      {
        name: "Expenses",
        color: "{{ colors['Expenses'] }}",
        data: [0, {{ dash["month"]["Expenses"] }}, 0],
        stack: "last",
      },
      {
        name: "Expenses trend",
        color: "{{ colors['Expenses_dim'] }}",
        data: [0, {{ dash["month"]["Expenses_trend"] }}, 0],
        stack: "last_trend",
      },
      {
        name: "EBIT",
        color: "{{ colors['EBIT'] }}",
        data: [0, 0, {{ dash["month"]["EBIT"] }}],
        stack: "last",
      },
      {
        name: "EBIT trend",
        color: "{{ colors['EBIT_dim'] }}",
        data: [0, 0, {{ dash["month"]["EBIT_trend"] }}],
        stack: "last_trend",
      },
    ],
  });
  Highcharts.chart('DASH_liquid', {
    ...plot_stacked_no_title,
    xAxis: {categories: ["Liquid"]},
    series: [
      {
        name: "Liquid",
        color: "{{ colors['Liquid'] }}",
        data: [{{ dash["month"]["Liquid"] }}],
        stack: "last",
      },
      {
        name: "Liquid trend",
        color: "{{ colors['Liquid_dim'] }}",
        data: [{{ dash["month"]["Liquid_trend"] }}],
        stack: "last_trend",
      },
    ],
  });
  Highcharts.chart('DASH_investments', {
    ...plot_stacked_no_title,
    xAxis: {categories: ["Total Worth", "Total Invested"]},
    series: [
      {
        name: "Worth",
        color: "{{ colors['Total_Worth'] }}",
        data: [{{ dash["month"]["Total_Worth"] }}, 0],
        stack: "actual",
      },
      {
        name: "Worth last year",
        color: "{{ colors['Total_Worth_dim'] }}",
        data: [{{ dash["month"]["Total_Worth_1y"] }}, 0],
        stack: "last_year",
      },
      {
        name: "Invested",
        color: "{{ colors['Invest'] }}",
        data: [0, {{ dash["month"]["Total_Invest"] }}],
        stack: "actual",
      },
      {
        name: "Invested last year",
        color: "{{ colors['Invest_dim'] }}",
        data: [0, {{ dash["month"]["Total_Invest_1y"] }}],
        stack: "last_year",
      },
    ],
  });
  
  // EVOLUTION SECTION
  Highcharts.chart('EVO_evolution_month', {
    ...plot_datetime,
    title: {text: 'Month evolution'},
    xAxis: {type: 'datetime'},
    series: [
      {% for name in ["EBIT", "Incomes", "Expenses"] %}{
        name: "{{ name }}",
        color: "{{ colors[name] }}",
        data: [{% for mdate, value in month[name].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_evolution_month_trend', {
    ...plot_datetime,
    title: {text: 'Month evolution (trend)'},
    series: [
      {% for name in ["EBIT", "Incomes", "Expenses"] %}
      {
        name: "{{ name }}",
        color: "{{ colors[name] }}",
        data: [{% for mdate, value in month[name + "_trend"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_evolution_year', {
    ...plot_datetime,
    title: {text: 'Year evolution'},
    series: [
      {% for name in ["Incomes", "Expenses", "EBIT"] %}{
        name: "{{ name }}",
        color: "{{ colors[name] }}",
        type: 'column',
        data: [{% for mdate, value in year[name].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_expenses_by_categ_month', {
    ...plot_datetime_stacked,
    title: {text: 'Expenses evolution by category and month'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in month["Expenses"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in month["Expenses_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Expenses_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_incomes_by_categ_month', {
    ...plot_datetime_stacked,
    title: {text: 'Incomes evolution by category and month'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in month["Incomes"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in month["Incomes_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Incomes_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_expenses_by_categ_year', {
    ...plot_datetime_stacked,
    title: {text: 'Expenses evolution by category and year'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in year["Expenses"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in year["Expenses_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Expenses_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_incomes_by_categ_year', {
    ...plot_datetime_stacked,
    title: {text: 'Incomes evolution by category and year'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in year["Incomes"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in year["Incomes_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Incomes_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('EVO_salaries', {
    ...plot_datetime,
    title: {text: 'Gross salary evolution'},
    series: [
      {
        name: "Fixed",
        visible: false,
        color: "{{ colors['Incomes_dim'] }}",
        data: [{% for mdate, value in month["salary"]["fixed"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Equivalent full time",
        color: "#000000",
        data: [{% for mdate, value in month["salary"]["full_time"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Salary",
        color: "{{ colors['Incomes'] }}",
        data: [{% for mdate, value in month["salary"]["real"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });

  // COMPARISON SECTION
  const plot_comparison = {
    ...plot_basic,
    xAxis: {
      title: {text: "Months"},
      type: 'category'
    },
    chart: {zoomType: "y"},
  }
  Highcharts.chart('COMP_incomes', {
    ...plot_comparison,
    title: {text: 'Incomes comparison (trend)'},
    series: [
      {% for y, data in comp["Incomes"].items() %}{
        name: "{{ y }}",
        color: "{{ colors['comp']['Incomes'][y]['color'] }}",
        lineWidth: {{ colors['comp']['Incomes'][y]['size'] }},
        data: [{% for x, value in data.items() %}
          [{{ x }}, {% if value is number %}{{ value }}{% else %}null{% endif %}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('COMP_expenses', {
    ...plot_comparison,
    title: {text: 'Expenses comparison (trend)'},
    series: [
      {% for y, data in comp["Expenses"].items() %}{
        name: "{{ y }}",
        color: "{{ colors['comp']['Expenses'][y]['color'] }}",
        lineWidth: {{ colors['comp']['Expenses'][y]['size'] }},
        data: [{% for x, value in data.items() %}
          [{{ x }}, {% if value is number %}{{ value }}{% else %}null{% endif %}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('COMP_EBIT', {
    ...plot_comparison,
    title: {text: 'EBIT comparison (trend)'},
    series: [
      {% for y, data in comp["EBIT"].items() %}{
        name: "{{ y }}",
        color: "{{ colors['comp']['EBIT'][y]['color'] }}",
        lineWidth: {{ colors['comp']['EBIT'][y]['size'] }},
        data: [{% for x, value in data.items() %}
          [{{ x }}, {% if value is number %}{{ value }}{% else %}null{% endif %}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('COMP_liquid', {
    ...plot_comparison,
    title: {text: 'Liquid comparison (3 months EWM)'},
    series: [
      {% for y, data in comp["Liquid"].items() %}{
        name: "{{ y }}",
        color: "{{ colors['comp']['Liquid'][y]['color'] }}",
        lineWidth: {{ colors['comp']['Liquid'][y]['size'] }},
        data: [{% for x, value in data.items() %}
          [{{ x }}, {% if value is number %}{{ value }}{% else %}null{% endif %}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });

  // PIES SECTION
  const plot_pie = {
    ...plot_stacked_no_title,
    tooltip: {
      formatter: function () {
        return "<b>" + this.series.name + ":</b> " + this.y + " € (" + this.percentage.toFixed(2) + " %)";
      }
    },
  }
  const plot_pie_no_legend = {
    ...plot_pie,
    legend: {enabled: false},
  }
  Highcharts.chart('PIE_expenses_month', {
    ...plot_pie,
    xAxis: {categories: ["Month"]},
    series: [
      {% for name, value in pies["Expenses"]["month"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Expenses_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });
  Highcharts.chart('PIE_expenses_year', {
    ...plot_pie_no_legend,
    xAxis: {categories: ["Year"]},
    series: [
      {% for name, value in pies["Expenses"]["year"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Expenses_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });
  Highcharts.chart('PIE_expenses_all', {
    ...plot_pie_no_legend,
    xAxis: {categories: ["All time"]},
    series: [
      {% for name, value in pies["Expenses"]["all"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Expenses_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });
  Highcharts.chart('PIE_incomes_month', {
    ...plot_pie,
    xAxis: {categories: ["Month"]},
    series: [
      {% for name, value in pies["Incomes"]["month"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Incomes_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });
  Highcharts.chart('PIE_incomes_year', {
    ...plot_pie_no_legend,
    xAxis: {categories: ["Year"]},
    series: [
      {% for name, value in pies["Incomes"]["year"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Incomes_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });
  Highcharts.chart('PIE_incomes_all', {
    ...plot_pie_no_legend,
    xAxis: {categories: ["All time"]},
    series: [
      {% for name, value in pies["Incomes"]["all"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Incomes_categ'][name] }}",
        data: [{{ value }}],
      }, {% endfor %}
    ],
  });

  // LIQUID SECTION
  Highcharts.chart('LIQ_evolution', {
    ...plot_datetime_stacked,
    title: {text: 'Liquid evolution'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in month["Liquid"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in month["Liquid_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Liquid_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('LIQ_vs_expenses', {
    ...plot_datetime,
    title: {text: 'Liquid vs Expenses'},
    series: [
      {
        name: "Expenses trend",
        color: "{{ colors['Expenses'] }}",
        data: [{% for mdate, value in month["Expenses_trend"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Liquid",
        color: "{{ colors['Liquid_dim'] }}",
        dashStyle: 'shortdot',
        visible: false,
        data: [{% for mdate, value in month["Liquid"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Liquid trend",
        color: "{{ colors['Liquid'] }}",
        data: [{% for mdate, value in month["Liquid_trend"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Minimum liquid recomended",
        color: "{{ colors['Min_value'] }}",
        data: [{% for mdate, value in month['Expenses_trend'].items() %}
          [Date.parse("{{ mdate }}"), {{ 3*value | int }}], {% endfor %}
        ]
      },
      {
        name: "Liquid recomended",
        color: "{{ colors['Recomended_value'] }}",
        data: [{% for mdate, value in month['Expenses_trend'].items() %}
          [Date.parse("{{ mdate }}"), {{ 6*value | int }}], {% endfor %}
        ]
      }
    ],
  });
  Highcharts.chart('LIQ_survival_ratio', {
    ...plot_datetime,
    title: {text: 'Survival months (Liquid / Expenses)'},
    yAxis: {
      title: {text: null},
      plotLines: [
        {
          label: {text: '2 years', align: 'left'},
          color: "{{ colors['Expenses'] }}",
          value: 24,
          dashStyle: 'shortdot',
        },
        {
          color: "{{ colors['Max_value'] }}",
          label: {text: '1 year', align: 'left'},
          dashStyle: 'shortdashdot',
          value: 12,
        },
        {
          label: {text: 'Liquid recomended (6 months)', align: 'left'},
          color: "{{ colors['Recomended_value'] }}",
          value: 6,
        },
        {
          label: {text: 'Minimum liquid recomended (3 months)', align: 'left'},
          color: "{{ colors['Min_value'] }}",
          value: 3,
        }
      ],
    },
    series: [
      {
        name: "Months",
        color: "{{ colors['Liquid_dim'] }}",
        dashStyle: 'shortdot',
        visible: false,
        data: [{% for mdate, value in ratios['Liquid/Expenses'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Months trend",
        color: "{{ colors['Liquid'] }}",
        data: [{% for mdate, value in ratios['Liquid_trend/Expenses_trend'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }
    ],
  });

  // INVESTMENTS SECTION
  Highcharts.chart('INV_worth_vs_invest', {
    ...plot_datetime,
    title: {text: 'Worth vs Invested'},
    series: [
      {
        name: "Total Invested",
        color: "{{ colors['Invest'] }}",
        dashStyle: 'shortdot',
        data: [{% for mdate, value in month["Total_Invest"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Total Worth",
        color: "{{ colors['Worth'] }}",
        data: [{% for mdate, value in month["Total_Worth"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart('INV_worth_by_type', {
    ...plot_datetime_stacked,
    title: {text: 'Worth by type'},
    series: [
      {
        name: "Total",
        color: "#000000",
        data: [{% for mdate, value in month["Worth"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% for name, data in month["Worth_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Investment_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });
  Highcharts.chart('INV_worth_by_type_percent', {
    ...plot_datetime_stacked,
    ...tooltip_percent,
    title: {text: 'Worth by type (%)'},
    yAxis : {
      ...labels_percent,
      max: 100,
    },
    series: [{% for name, data in ratios["Worth_by_groups"].items() %}{
        name: "{{ name }}",
        color: "{{ colors['Investment_categ'][name] }}",
        type: 'area',
        data: [{% for mdate, value in data.items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      }, {% endfor %}
    ],
  });

  // FIRE SECTION
  Highcharts.chart('FIRE_savings_ratio_month', {
    ...plot_datetime,
    ...tooltip_percent,
    title: {text: 'Savings ratio by month'},
    yAxis: {
      ...labels_percent,
      plotLines: [
        {
          label: {text: 'Max Savings Ratio', align: 'left'},
          color: "{{ colors['Recomended_value'] }}",
          value: 100,
        },
      ],
    },
    series: [
      {
        name: "Savings ratio",
        color: "{{ colors['Savings_dim'] }}",
        dashStyle: 'shortdot',
        data: [{% for mdate, value in month["Savings"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
       {
        name: "Savings ratio trend",
        color: "{{ colors['Savings'] }}",
        data: [{% for mdate, value in month["Savings_trend"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart('FIRE_savings_ratio_year', {
    ...plot_datetime,
    ...tooltip_percent,
    title: {text: 'Savings ratio by year'},
    yAxis: {
      ...labels_percent,
      plotLines: [
        {
          label: {text: 'Max Savings Ratio', align: 'left'},
          color: "{{ colors['Recomended_value'] }}",
          value: 100,
        },
      ],
    },
    series: [
      {
        name: "Savings ratio",
        color: "{{ colors['Savings'] }}",
        type: 'column',
        data: [{% for mdate, value in year["Savings"].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart('FIRE_passive_income_vs_expenses', {
    ...plot_datetime,
    title: {text: 'Passive income vs Expenses'},
    series: [
      {
        name: "Passive Income",
        color: "{{ colors['Incomes_passive'] }}",
        data: [{% for mdate, value in month['Worth'].items() %}
          [Date.parse("{{ mdate }}"), {{ (value/300) | round(2) }}], {% endfor %}
        ]
      },
      {
        name: "Expenses",
        color: "{{ colors['Expenses_dim'] }}",
        dashStyle: 'shortdot',
        visible: false,
        data: [{% for mdate, value in month['Expenses'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Expenses trend",
        color: "{{ colors['Expenses'] }}",
        data: [{% for mdate, value in month['Expenses_trend'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart('FIRE_total_years_survival', {
    ...plot_datetime,
    title: {text: 'Doomsday years (Assets / Expenses)'},
    yAxis: {
      title: {text: null},
      plotLines: [
        {
          label: {text: 'FIRE 3%', align: 'left'},
          color: "{{ colors['Recomended_value'] }}",
          value: 30,
        },
        {
          label: {text: 'FIRE 4%', align: 'left'},
          color: "{{ colors['Min_value'] }}",
          value: 25,
        }
      ],
    },
    series: [
      {
        name: "Years",
        color: "{{ colors['Survival_dim'] }}",
        dashStyle: 'shortdot',
        data: [{% for mdate, value in ratios['Total_Worth/Expenses'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Years trend",
        color: "{{ colors['Survival'] }}",
        data: [{% for mdate, value in ratios['Total_Worth_trend/Expenses_trend'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart('FIRE_investment_ratios', {
    ...plot_datetime,
    ...tooltip_percent,
    title: {text: 'Total Assets / Total income'},
    yAxis: {
      ...labels_percent,
      plotLines: [
        {
          label: {text: 'All earned saved breakpoint', align: 'left'},
          color: "{{ colors['Recomended_value'] }}",
          value: 100,
        },
      ],
    },
    series: [
      {
        name: "Total Invest / Total income",
        color: "{{ colors['Invest'] }}",
        dashStyle: 'shortdot',
        data: [{% for mdate, value in ratios['Total_invest_performance'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
      {
        name: "Total Worth / Total income",
        color: "{{ colors['Worth'] }}",
        data: [{% for mdate, value in ratios['Total_worth_performance'].items() %}
          [Date.parse("{{ mdate }}"), {{ value }}], {% endfor %}
        ]
      },
    ],
  });
  Highcharts.chart("FIRE_bubbles", {
    credits: false,
    legend: {enabled: false},
    title: {text: "Assets in years vs Savings ratio"},
    xAxis: {
      title: {text: "Total Worth / Yearly Expenses"},
      plotLines: [
        {
          label: {text: '30 years', align: 'bottom'},
          color: "{{ colors['Max_value'] }}",
          value: 30,
        },
        {
          label: {text: '25 years (4%)', align: 'bottom'},
          color: "{{ colors['Min_value'] }}",
          value: 25,
        },
      ],
    },
    yAxis: {
      ...labels_percent,
      title: {text: "Savings ratio"},
      plotLines: [
        {
          label: {text: 'Max Savings Ratio', align: 'left'},
          color: "{{ colors['Max_value'] }}",
          value: 100,
        },
        {
          label: {text: 'EBIT 0', align: 'right'},
          color: "{{ colors['Min_value'] }}",
          value: 0,
        },
      ],
    },
    tooltip: {
      useHTML: true,
      headerFormat: "<table>",
      pointFormat:
        "<tr><th>Total Worth:</th><td>{point.total_worth} €</td></tr>" +
        "<tr><th>Incomes:</th><td>{point.incomes} €</td></tr>" +
        "<tr><th>Expenses:</th><td>{point.z} €</td></tr>" +
        "<tr><th>Assets:</th><td>{point.x} years</td></tr>" +
        "<tr><th>Savings ratio:</th><td>{point.y} %</td></tr>",
      footerFormat: "</table>",
      followPointer: false,
    },
    plotOptions: {
      series: {
        dataLabels: {
          enabled: true,
          format: "{point.name}"
        },
        stickyTracking: false,
      }
    },
    series: [
      {
        marker: {enabled: false},
        lineWidth: 0.5,
        dashStyle: 'dot',
        color: "#000000",
        data: [{% for x in bubbles %}
          { {{ x }} }, {% endfor %}
        ]
      },
      {
        type: "bubble",
        color: "{{ colors['Liquid'] }}",
        data: [{% for x in bubbles %}
          { {{ x }} }, {% endfor %}
        ]
      },
    ]
  });

  // SANKEY SECTION
  Highcharts.chart('SAN_month', {
    credits: false,
    title: {text: 'Sankey month'},
    series: [{
      type: 'sankey',
      keys: ['from', 'to', 'weight'],
      data: [{% for value in sankey["month"] %}
        [{{ value }}], {% endfor %}
      ],
      nodes: [{% for i, x in colors["Incomes_categ"].items() %}
        {id: "{{ i }}", color: "{{ x }}" }, {% endfor %}

        {id: "Incomes", color: "{{ colors["Incomes"] }}" },
        {id: "Expenses", color: "{{ colors["Expenses"] }}" },
        {id: "Savings", color: "{{ colors["Savings"] }}" },
        {id: "Investments", color: "{{ colors["Total_Worth"] }}" },
        {% for i, x in colors["Expenses_categ"].items() %}
        {id: "{{ i }}", color: "{{ x }}" }, {% endfor %}
      ],
    }],
  });
  Highcharts.chart('SAN_year', {
    credits: false,
    title: {text: 'Sankey year'},
    series: [{
      type: 'sankey',
      keys: ['from', 'to', 'weight'],
      data: [{% for value in sankey["year"] %}
        [{{ value }}], {% endfor %}
      ],
      nodes: [{% for i, x in colors["Incomes_categ"].items() %}
        {id: "{{ i }}", color: "{{ x }}" }, {% endfor %}

        {id: "Incomes", color: "{{ colors["Incomes"] }}" },
        {id: "Expenses", color: "{{ colors["Expenses"] }}" },
        {id: "Savings", color: "{{ colors["Savings"] }}" },
        {id: "Investments", color: "{{ colors["Total_Worth"] }}" },
        {% for i, x in colors["Expenses_categ"].items() %}
        {id: "{{ i }}", color: "{{ x }}" }, {% endfor %}
      ],
    }],
  });
</script>
{% endblock %}
