{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
<!-- DASH -->
<div id="dashboard" class="section w3-center">
  <h1>Vbooks Report</h1>
  <div class="mgrid">
    <div class="w3-card w3-round" style="background-color: {{ colors['Total'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">Total</h3>
      <h2>{{ dashboard["Total"] }}</h2>
    </div>
    <div class="w3-card w3-round" style="background-color: {{ colors['Català'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">Expenses</h3>
      <h2>{{ dashboard["Català"] }}</h2>
    </div>
    <div class="w3-card w3-round" style="background-color: {{ colors['Español'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">EBIT</h3>
      <h2>{{ dashboard["Español"] }}</h2>
    </div>
    <div class="w3-card w3-round" style="background-color: {{ colors['English'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">Liquid</h3>
      <h2>{{ dashboard["English"] }}</h2>
    </div>
    <div class="w3-card w3-round" style="background-color: {{ colors['Italiano'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">Worth</h3>
      <h2>{{ dashboard["Italiano"] }}</h2>
    </div>
    <div class="w3-card w3-round" style="background-color: {{ colors['Total'] }}; color:white;">
      <h3 style="margin-bottom: -16px;">Years</h3>
      <h2>{{ dashboard["Years"] }}</h2>
    </div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_basic_traces" class="plot" style="height: 350px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_liquid" class="plot" style="height: 180px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_investments" class="plot" style="height: 250px"></div>
  </div>

</div>

{% endblock %}


{% block plots %}
<script>
</script>
{% endblock %}
