{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% set cards = ["Total", "Català", "Español", "English", "Italiano", "Years"] %}
{% block body %}
<!-- DASH -->
<div id="dashboard" class="section w3-center">
  <h1>Vbooks Report</h1>
  <div class="mgrid">
    {% for name in cards %}<div class="w3-card w3-round" style="background-color: {{ colors[name] }}; color:white;">
      <h3 style="margin-bottom: -16px;">{{ name }}</h3>
      <h2>{{ dashboard[name] }}</h2>
    </div>
    {% endfor %}
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_basic_traces" class="plot" style="height: 350px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_liquid" class="plot" style="height: 180px"></div>
  </div>

  <div class="w3-card w3-round w3-center w3-white elem">
    <div id="DASH_investments" class="plot" style="height: 250px"></div>
  </div>

</div>

{% endblock %}


{% block plots %}
<script>
</script>
{% endblock %}
