name: CI
env:
  VTASKS_TOKEN: ${{ secrets.VTASKS_TOKEN }}

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre_commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: j178/prek-action@v1


  labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true


  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: villoro/vhooks/check_version@1.0.0


  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            code:
              - 'vtasks/**'
              - 'pyproject.toml'
              - '.github/workflows/**'

      - if: steps.changes.outputs.code == 'true'
        name: Install UV
        run: pip install uv

      - if: steps.changes.outputs.code == 'true'
        name: Set up virtual environment
        run: uv venv .venv

      - if: steps.changes.outputs.code == 'true'
        name: Install dependencies
        run: uv pip install --editable .

      - if: steps.changes.outputs.code == 'true'
        name: Tests
        env:
          MOTHERDUCK_TOKEN: ${{ secrets.MOTHERDUCK_TOKEN }} # TODO: drop this
        run: uv run python -m vtasks.schedules.hourly
